.div {
    grid-area: h;
    background-color: peru ;
}

.selectedPage {
    margin: 5px;
    color: gold;
    padding: 1px;
    border: 1px solid grey;
}

.paginator {
    margin: 10px;
}

button {
   margin: 5px;
}

.pageNumber {
    padding: 1px;
}

.test {
    background-color: rgb( 212,175,55, 0.2)
}