.div {
    grid-area: h;
    background-color: peru ;
}

.selectedPage {
    margin: 5px;
    color: #67b7f7;
    padding: 1px;
    border: 1px solid grey;
}

.paginator {
    margin: 10px;
}

button {
   margin: 5px;
}

.pageNumber {
    padding: 1px;
}

.test {
    color: white
}