.div {
    grid-area: h;
    background-color: peru ;
}

.avatar img {
   width: 80px;
}

.selectedPage {
    margin: 5px;
    color: red;
}

.userAvatar {
    border-radius: 50px;
}

.text {
    color: white
}

.text h7 {
    color: #67b7f7;
}