.formControl.error input,
.formControl.error textarea
{
    border: 3px solid red;
}

.formControl.error span
{
    color: red;
    border: 3px solid gold;
}

.formSummaryError {
    border: 3px solid darkviolet;
    padding: 5px;
    color: darkviolet;
}

.globalForm input {
    width: 500px;

}

.checkBoxForm input {
    width: 30px
}

.globalForm {
    color: white;
}

.dialogTextarea {
    width: 500px;
    background-color: #67b7f7
}

.input {
    background-color: #67b7f7;
    /*width: 500px;*/

}

.textarea {
    background-color: #67b7f7;
    width: 500px;
}
