.nav {
    grid-area: n;
    background-color: #202023;
    padding: 15px;
    border-right: 3px solid #42a5f5;
}

.item, .active {
    text-decoration: none;

}

.item {
    color: white;

}

.active {
    color: #42a5f5;
}

