.discriptionBlock {
    padding: 10px;
    color: white;
    padding-bottom: 20px;
}

.avatar img {
    padding: 10px;
    width: 200px;
    border-radius: 100px
}

.mainImg {
    width: 500px;
}

.contacts {
    padding-left: 10px ;
}

.discriptionBlock .main {
    color: #42a5f5;
}

.button {
    padding: 10px;
}

.descriptionForm {
    color: white;
    padding: 20px;
}