.status {
    max-width: 1000px ;
    width: 100vh;
    color: white;
    padding: 10px;
    /*background-color: #67b7f7;*/

}

.status .main {
    color: #42a5f5;
}

.haha input {
    width: 600px
}

.inputarea {
    width: 100vh;
    background-color: #67b7f7;
}

.hr {
    text-decoration: underline #42a5f5;
}
