.app-wrapper {
    display: grid;
    width: auto;
    margin: 0 auto;
    height: auto;


    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;

    grid-template-areas:
    "n h"
    "n c";
}

.app-wrapper-content {
    grid-area: c;
    background-color: #211e1e;
    min-height: 100vh;
}