.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: white;
}

.dialogItems {
    padding: 10px;
    color: #42a5f5;
}

.messages {
    padding: 10px;
}

.dialogname p {
    margin: 2px;
}

.navlink {
    text-decoration: none;
    color: white
}

.navlink:active {
    text-decoration: none;
    color: #42a5f5;
}

.dialogTextarea {
    width: 500px;
    background-color: #67b7f7
}


